@font-face {
    font-family: 'Brandon-text-regular';
    src: url(fonts/HvDTrial_Brandon_Text_Regular-BF6514e9eb617a0.otf);
  
   
}
@font-face {
    font-family: 'Mayrean';
    src: url(fonts/SHRIMP.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mayrean';

}


body {
  overflow-x: hidden;
  overflow-y: hidden;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  background-color: #FAF7F2;

  flex-direction: column;

  line-height: 1.5; 
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0f663d;
    filter: drop-shadow(0 0.2rem 0.85rem rgb(78, 75, 70));                                                                                                                                                                                                                                                                                                                                                                                  
    


    height: 80px;
}

.rectangle-container{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 5rem;

}

.text{
        color:antiquewhite;

    font-family: 'Mayrean';
    font-size: 30px;
}

.text i {
    margin-left: 12px;

}
.navbar-container{
    width: 180%;
    justify-content: center;
    align-items: center;
    margin-right: 8rem;
 
}
.ul-tags ul{
    gap: 25px;
    display: flex;
    list-style: none;
    margin-left: 10.3rem;
    
    
}
.ul-tags ul li a{
    text-decoration: none;
    font-family: 'Mayrean';
    color: antiquewhite;
    font-weight: 20px;
    font-size: 21px;
    position: relative;
    transition: 0.2s ease-in ;
}
  

.cart-bar-container{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 3rem;


}

.cart-bar-container i{
        color: antiquewhite;
        margin: 25px;
        font-size: 30px;
        cursor: pointer;

}

.ul-tags a:after{
    content: "";
    position: absolute;
    background-color: antiquewhite;

    height: 3px;
    width: 0%;
    left: 0;
    bottom: -3px;
    border-radius: 2px;
    transition: 0.3s linear;

}
.ul-tags a:hover::after{
    width: 100%;
}

